.footerdiv{
    height: 12vh;
    width:  100%;
    display: flex;
    background-color: #3D315B;
   justify-content: center;
   align-items: center;
    bottom:0;
  
 border: 2px solid #444B6E;
 
}
@media screen and (max-width: 580px ) {
    .footerdiv{
      height: 10vh;
    }
  }