

.headerdiv{
    background-image: url('../images/greenbanner.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    height: 10vh;
    width: 100%;
    align-items: center;
    border-bottom: solid black;
    /* background: #708B75; */
}