.Navcontainer {
  background: #708B75;
 margin-left:  3px;
 margin-right:  3px;
 border-radius: 3px;
 display: flex;
 padding-left: 4vh;
 align-items: center;
 justify-content: space-around;
 height: 10vh;
}
li:hover {
  background-color: #596e5d;
  border-radius: 15%;
}
li{
  border-radius: 5%;
}

/* list of colors
9AB87A
708B75
444B6E
3D315B
*/