.projectDiv {
  display: flex;
 
flex:1;
width: 300px;
height: 450px;
justify-content: space-around;
border: 2px solid #6e5c44;
margin: 10%;
}

img {
  height: 40%;
  width: 24vh;
}

.btn {
  margin: 2%;

}

.btn-primary {

  background-color: #444B6E;
}
 @media screen and (max-width: 670px ) {
   .projectDiv{
    display: flex;
    width: auto;
    height: auto;
  justify-content: center;
  border: 2px solid #6e5c44;
  margin: 10%;
   }
    }
   